
<div class="row">
    <div class="span12">
		<h1 class="title">ASCII Table</h1>
        <p>Simple ASCII Table. Does not include symbols and non-printables</p>
    </div>
</div>

<div class="row">
    <div class="span1">
				{% for a in punctuation %}
					<samp>{{a}}</samp><br>
				{% endfor %}
    </div>

    <div class="span1">
				{% for a in upper %}
					<samp>{{a}}</samp><br>
				{% endfor %}
	</div>
    <div class="span1">
                {% for a in lower %}
					<samp>{{a}}</samp><br>
				{% endfor %}
        </div>

    <div class="span1">		
				{% for a in digits %}
					<samp>{{a}}</samp><br>
				{% endfor %}
	</div>
	
</div>

