
	<div class="post">
		<h1 class="title">ASCII Table</h1>
		<div class="entry">

		<p>Simple ASCII Table. Does not include symbols and non-printables</p>

			<div style="float: left;">		
				{% for a in punctuation %}
					<samp>{{a}}</samp><br>
				{% endfor %}
			</div>
		
			<div style="float: left; margin-left: 55px;">		
				{% for a in upper %}
					<samp>{{a}}</samp><br>
				{% endfor %}
			</div>
			<div style="float: left; margin-left: 55px;">		
				{% for a in lower %}
					<samp>{{a}}</samp><br>
				{% endfor %}
			</div>

			<div style="float: left; margin-left: 55px;">		
				{% for a in digits %}
					<samp>{{a}}</samp><br>
				{% endfor %}
			</div>

			
		

		</div>
	
	</div>

