<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>maciak.net - Homepage of Luke Maciak</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Homepage of Luke Maciak"/>
    <meta name="author" content="Luke Maciak"/>
    <meta name="google-site-verification" content="Sj4CBaC9bTIMf8EetEF7SD_JZ_yssJtdygaEbQCWOPs" />

    <link href="static/components/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="static/components/Font-Awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/components/font-mfizz/css/font-mfizz.css">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      .info {
          margin-left: 15px;
      }
    </style>
    <link href="static/components/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
	
</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">maciak.net</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                <li {% ifequal page 'main.html' %} class="active" {% endifequal %}><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
                <li {% ifequal page 'about.html' %} class="active" {% endifequal %}><a href="/about"><i class="icon-question-sign icon-white"></i> About</a></li>
                <li {% ifequal page 'contact.html' %} class="active" {% endifequal %}><a href="/contact"><i class="icon-envelope icon-white"></i> Contact</a></li>
                <li  {% ifequal page 'projects.html' %} class="active" {% endifequal %}><a href="/projects"><i class="icon-folder-open icon-white"></i> Projects</a></li>
                <li {% ifequal page 'publications.html' %} class="active" {% endifequal %}><a href="/publications"><i class="icon-book icon-white"></i> Publications</a></li>
                <li {% ifequal page 'tools.html' %} class="active" {% endifequal %}><a href="/tools"><i class="icon-wrench icon-white"></i> Tools</a></li>
			
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


	<!-- end #menu -->


<div class="container">

			{% if page %}
				{% include page %}
			{% else %}
				{% include "main.html" %}
            {% endif %}


      <hr/>

      <footer>
        <p>&copy; Luke Maciak 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/components/jquery/jquery.min.js"></script>
    <script src="static/components/bootstrap/js/bootstrap.min.js"></script>
    <script type="application/ld+json">
        { "@context" : "http://schema.org",
          "@type" : "Person",
          "name" : "Luke Maciak",
          "url" : "http://www.maciak.net",
          "sameAs" : [ "https://twitter.com/LukeMaciak",
            "https://plus.google.com/102580827307063335842"]
        }
    </script>
  </body>
</html>
